/*<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(59, 32, 32);
    color: #fff;
}
p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
label{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
#title{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 30px;
}
#description{
    text-align: center;
    font-size: 25px;
}
#survey-form{
    width: 675px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#survey-fieldset{
    padding: 40px;
    background: rgb(35, 85, 34);
    border-radius: 10px;
    border: none;
}
#survey-information{
    border: 2px solid rgb(59, 32, 32);
    border-radius: 10px;
}
.input-text{
    font-size: 25px;
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.input-select{
    margin: 10px;
}
#submit{
    background-color: rgba(179, 53, 53, 0.767);
    color: #fff;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 555px;
    border-radius: 5px;
    font-size: 20px;
}
@media(max-width: 900px){
    #title{
        font-size: 20px;
    }
    #survey-form{
        width: 600px;
    }
    .input-text{
        font-size: 22px;
        width: 500px;
    }
    #survey-fieldset{
        padding: 30px;
    }
    #submit{
        height: 40px;
        width: 500px;
    }
}
@media(max-width: 550px){
    #survey-form{
        width: 450px;
    }
    .input-text{
        font-size: 22px;
        width: 350px;
    }
    #survey-fieldset{
        padding: 30px;
    }
    #submit{
        height: 40px;
        width: 350px;
    }   
}